<nav>
    <h1>Saad Blogs</h1>
    <p>A saad blogs website</p>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>